In [1]:
import pandas as pd
import numpy as np
import glob

In [2]:
sorted(glob.glob('*.csv'))

['883_885261_us_final_submission_1.csv',
 '883_885261_us_sub_39.csv',
 '883_885261_us_sub_55.csv',
 '883_885261_us_sub_57(1).csv',
 '883_937928_us_sub_4kv8rBJ.csv',
 '883_937928_us_sub_567La4g.csv',
 '883_937928_us_sub_ISf76UF(1).csv',
 '883_937928_us_sub_NeD5qNn.csv',
 '883_937928_us_submission507(2).csv',
 '883_937928_us_submission508(1).csv',
 '883_937928_us_submission511(2).csv',
 '883_937928_us_submission512(2).csv',
 '883_937928_us_submission513(4).csv',
 '883_937928_us_submission519.csv',
 '883_937928_us_submission_2(1).csv',
 '883_937928_us_submission_3(1).csv',
 '883_937928_us_submission_4(2).csv',
 '883_937928_us_submission_5(1).csv',
 '883_937928_us_submission_8(6).csv',
 '883_937928_us_submission_9.csv',
 'go(1).csv',
 'goa(1).csv',
 'multiclass_lr_03.csv',
 'ovr_svc_hash_12.csv',
 'sub.csv',
 'submission(521).csv',
 'submission(525).csv',
 'submission(526).csv',
 'submission(527).csv',
 'submission(528).csv',
 'submission(529).csv',
 'submission(530).csv',
 'submission(531).csv',
 'submission(532).csv',
 'submission(533).csv']

In [3]:
def mode(dd):
    return dd.T.mode().T

In [25]:
sub1 = pd.read_csv('883_885261_us_final_submission_1.csv')
sub2 = pd.read_csv('883_885261_us_sub_39.csv')
sub3 = pd.read_csv('883_937928_us_sub_567La4g.csv')
sub4 = pd.read_csv('883_937928_us_submission507(2).csv')
sub5 = pd.read_csv('883_937928_us_submission508(1).csv')
sub6 = pd.read_csv('883_937928_us_submission511(2).csv')
sub7 = pd.read_csv('883_937928_us_submission512(2).csv')
sub8 = pd.read_csv('883_937928_us_submission513(4).csv')
sub9 = pd.read_csv('883_937928_us_submission519.csv')
sub10 = pd.read_csv('883_937928_us_submission_2(1).csv')
sub11 = pd.read_csv('883_937928_us_submission_3(1).csv')
sub12 = pd.read_csv('883_937928_us_submission_4(2).csv')
sub13 = pd.read_csv('883_937928_us_submission_5(1).csv')
sub14 = pd.read_csv('883_937928_us_submission_8(6).csv')
sub15 = pd.read_csv('883_937928_us_submission_9.csv')
sub16 = pd.read_csv('883_885261_us_sub_57(1).csv')
sub17 = pd.read_csv('submission(521).csv')
sub18 = pd.read_csv('goa(1).csv')
sub19 = pd.read_csv('submission(531).csv')
sub20 = pd.read_csv('submission(533).csv')
sub21 = pd.read_csv('ovr_svc_hash_12.csv')
sub22 = pd.read_csv('submission(532).csv')

In [26]:
df = pd.DataFrame(columns = ['ID', 'Computer Science', 'Physics', 'Mathematics', 'Statistics',
       'Quantitative Biology', 'Quantitative Finance'])

In [27]:
cols= ['Computer Science', 'Physics', 'Mathematics', 'Statistics',
       'Quantitative Biology', 'Quantitative Finance']

In [28]:
df['ID'] = sub1['ID']

In [593]:
w1 = 1
w2 = 2
w3 = 1
w4 = 0
w5 = 1
w6 = 1
w7 = 2
w8 = 0
w9 = 2
w10 = 1
w11 = 0
w12 = 1
w13 = 0
w14 = 1
w15 = 3
w16 = 3
w17 = 3
w18 = 1
w19 = 1
w20 = 0
w21 = 0
w22 = 0

In [594]:
"""
w1 = 1
w2 = 2
w3 = 1
w4 = 0
w5 = 1
w6 = 1
w7 = 2
w8 = 0
w9 = 2
w10 = 1
w11 = 0
w12 = 1
w13 = 1
w14 = 1
w15 = 3
w16 = 3
w17 = 3
w18 = 1
w19 = 1
w20 = 0
w21 = 0
w22 = 0
"""
pass

In [595]:
df.iloc[:,1:] = (sub1.iloc[:,1:]*w1 + sub2.iloc[:,1:]*w2 + 
                 sub3.iloc[:,1:]*w3 + sub4.iloc[:,1:]*w4 + sub5.iloc[:,1:]*w5 +
                sub6.iloc[:,1:]*w6 + sub7.iloc[:,1:]*w7 +
                sub8.iloc[:,1:]*w8 + sub9.iloc[:,1:]*w9 + sub10.iloc[:,1:]*w10 +
                sub11.iloc[:,1:]*w11 + sub12.iloc[:,1:]*w12 +
                sub13.iloc[:,1:]*w13 + sub14.iloc[:,1:]*w14 +
                sub15.iloc[:,1:]*w15 + sub16.iloc[:,1:]*w16 + 
                 sub17.iloc[:,1:]*w17 + sub18.iloc[:,1:]*w18 + 
                 sub19.iloc[:,1:]*w19 + sub20.iloc[:,1:]*w20 + 
                 sub21.iloc[:,1:]*w21 + sub22.iloc[:,1:]*w22)/(w1 + w2 + w3 + w4 + 
                                        w5 + w6 + w7 + w8 + w9 + w10 + w11 + w12 + 
                                        w13 + w14 + w15 + w16 + w17 + w18 + w19 + w20 + w21 + w22)

In [596]:
df.iloc[:,1:] = np.round(df.iloc[:,1:])

In [597]:
df.to_csv('sub.csv',index=False)

In [598]:
df

,ID,Computer Science,Physics,Mathematics,Statistics,Quantitative Biology,Quantitative Finance
0,20973,0.0,0.0,0.0,1.0,0.0,0.0
1,20974,0.0,1.0,0.0,0.0,0.0,0.0
2,20975,1.0,0.0,0.0,0.0,0.0,0.0
3,20976,0.0,1.0,0.0,0.0,0.0,0.0
4,20977,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
8984,29957,1.0,0.0,0.0,0.0,0.0,0.0
8985,29958,1.0,0.0,1.0,0.0,0.0,0.0
8986,29959,0.0,0.0,0.0,0.0,1.0,0.0
8987,29960,0.0,0.0,0.0,1.0,0.0,0.0
8988,29961,0.0,0.0,0.0,0.0,0.0,0.0